<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="TestHiveApp End-to-End Test Suite" verbose="1">
    <test name="All Tests">
        <classes>
            <class name="com.testhive.tests.SplashTests" />
            <class name="com.testhive.tests.LoginTests" />
    </test>
</suite>
